*{
    box-sizing: border-box;
}

body{
    font-family: 'Courier New', Courier, monospace;
}
h3{
    text-align: center;
    font-weight: bold;
}
.box{
    float: left;
    padding: 10px 10px 10px 10px;
    
    
}
.box1, .box2,.box3 {
    background-color: cadetblue;
    
}

.box section:nth-child(1){
    text-align: center;
    padding: 0px 10px 0px 10px;
}

.box section:nth-child(2){
    
    padding: 5px 5px 5px 5px;
    
}

#chicken , #beef ,#sushi{
    font-size: 17px;
    font-weight: bold;
}

ul{
    margin: 0px;
    padding: 0px;
}

li{
    margin: 0px;
    padding: 0px;
}

@media (max-width: 767px){
.box1, .box2, .box3{
        margin: 10px 40px 10px;
    }
        
    }




